{% extends 'base.html.twig' %}

{% block title %}New TeamCategory{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie d'équipe</h1>

    {{ include('team_category/_form.html.twig') }}

    <a href="{{ path('team_category_index') }}">Retour à la liste</a>
{% endblock %}
